/* ie7 */
#contact div.contact_info { padding-right:14px; width:315px; }
#about div.project p { padding-bottom:2px; }

#enquiry_form #submit { padding:0px; padding-top:20px; width:76px; height:25px; }
