@import url("reset.css");

body { background:#000 url(../images/bg.jpg) repeat; background-attachment:fixed; } 

#wrapper { width:975px; min-height:628px; margin:0 auto 0 auto; padding-top:12px; }
#left_wrapper { width:340px; height:628px; position:fixed; } 
#right_wrapper { width:613px; padding-bottom:250px; }

#about #right_wrapper, #contact #right_wrapper { padding-bottom:0; }

#about .content_box img { padding:0px 0 20px 20px; } 
div.left_header { width:351px; height:417px; background:url("../images/left_middle.png") repeat-y; position:relative; padding: 18px 0 0 18px; }

span.left_header { display:block; width:351px; height:19px; background:url("../images/left_bottom.png") no-repeat; position:absolute; bottom:-19px; left:0; }

div.left_footer { width:351px; height:82px; padding-top:18px; background:url("../images/left_middle.png") repeat-y; position:relative; margin-top:25px; }
span.left_footer { display:block; width:351px; height:19px; background:url("../images/left_bottom.png") no-repeat; position:absolute; bottom:-19px; }

span.top { display:block; width:616px; height:24px; background:url("../images/bottom.png") no-repeat; position:absolute; top:-24px; left:0; }
span.bottom { display:block; width:616px; height:34px; background:url("../images/bottom.png") no-repeat; position:absolute; bottom:-34px; left:0; }

div.content_box { background:url("../images/middle.png") repeat-y; position:relative; margin-bottom:66px; }
div.project { height:521px; }
#contact div.left { height:433px; } 


#header { height:17px; margin-top:26px; } 

.left { float:left; }
.right { float:right; }
.clear { clear:both; }

.content_box { padding: 0 30px 0 30px }


#logo_line { background:#ecede5; width:5px; height:150px; display:block; margin-left:18px; } 

h1 { overflow:hidden; width:120px } 
h1 a { height:0; width:0; padding: 300px 120px 0 0; background: url('../images/logo.png') top left no-repeat; overflow:hidden; display:block; }
h1 a:hover { background-position: -120px 0;  }
h2 { font-size:36px; }
h2.content_header { margin-bottom:18px; }
h3 { font-family: arial, helvetica, clean, sans-serif; font-size: 1.2em; color:#b5141c; font-weight:bold; margin-top:20px; }
#tag_line { font-size:24px; position:absolute; bottom:20px; text-transform:uppercase; }
h4 { font-size:25px; color:#ecede5; margin:0 0 8px 0; }

.sub_nav { z-index:1; position:relative; top:-6px; height:30px; }
.sub_nav h2 a, #about .sub_nav h2, #contact .sub_nav h2 { position:relative; top:-10px; color:#ecede5; text-decoration:none; font-size:45px; }
.sub_nav h2 a:hover, .sub_nav h2 a.selected,  #about .sub_nav h2.selected, #contact .sub_nav h2 { color:#b5141c; }
#middle { width:150px; border-left:#ecede5 5px solid; border-right:#ecede5 5px solid; left:18px; padding: 0 10px; text-align:center; }

#global_nav { display:block; float:left; margin-left:18px; }

#global_nav li a { color:#ecede5; font-size:40px; text-decoration:none; }
#global_nav li a:hover, #global_nav li a.selected  { color:#b5141c; }

.big_letter { color:#b5141c; font-size:95px; float:left; display:block; margin: -14px 10px 10px 0; }

p { line-height:115%; font-family: arial, helvetica, clean, sans-serif; font-size: 1.2em; margin: 5px 0; padding: 5px 0; color:#ecede5; }
#about p { font-size:15px; line-height:113%; }
#about .project { height:433px; }
.dropCap { float: left; line-height: 0.9em; font-size: 95px; padding: 0 10px 0 0; color: #b5141c; margin-top: -14px; }
p a { color:#b5141c; text-decoration:none; }
p a:hover { color:#000; background-color:#b5141c; }


.slider_nav { display:block; position:absolute; right:30px; top:0; }
.slider_nav li { display:block; float:left; }

.slider_nav li a { text-align:center; padding:3px; font-size:30px; display:block; color:#ecede5; width:23px; height:30px; text-decoration:none; margin-bottom:10px; margin-left:5px; }
.slider_nav li a:hover{ background-color:#b5141c; color:#000; }

.scroll_link { display:block; color:#ecede5; font-size:30px; text-decoration:none; width:65px; height:30px; padding:3px; position:absolute; right:30px; bottom:0;  }
.scroll_link:hover { background-color:#b5141c; color:#000; }


.sections { clear: left; height: 272px; overflow: hidden; width: 553px; }
.sections ul { width: 3660px; }
.sections li { float: left; width: 553px; background-color:#b5141c; }

#icons { display:block; width:289px; height:83px; margin-left:auto; margin-right:auto; } 
#icons li { float:left; display:block; }
#icons li.spacer { margin-right:20px; }

#icons li a { height:0; width:0; padding: 83px 83px 0 0; overflow:hidden; display:block; }

#linkedin a { background: url('../images/linked_in.png') top left no-repeat; }
#twitter a { background: url('../images/twitter.png') top left no-repeat; }
#cv_button a { background: url('../images/cv.png') top left no-repeat; }

#icons li a:hover { background-position: 0 -100px;  }

form { width:204px; }
input, textarea { background-color:#ecede5; border-style:hidden; width:200px; margin-bottom:10px; padding:5px; font-family: arial, helvetica, clean, sans-serif; color:#000; font-size:15px; }

textarea { height: 120px; }

input:hover, textarea:hover, input:focus, textarea:focus { background-color:#b5141c; }

.other { display:none; }

div.contact_info { width:288px; border-right:#ecede5 5px solid; padding-right:24px; }

#submit { display:block; background:url(../images/submit.png) 0 0 no-repeat; padding-left:76px; padding-top:20px; width:0; height:0; }

#submit:hover { background-position: 0 -25px; }

dl { width:204px; }
dt { font-size:25px; color:#ecede5; margin-bottom:6px; }
dd { font-family: arial, helvetica, clean, sans-serif; font-size: 15px; color:#b5141c; margin-bottom:6px; }

span.red { color:#b5141c; }

a.project_image img:hover { opacity:0.8; filter:alpha(opacity=80) }











